Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
asgiref==3.11.0
sqlparse==0.5.3
pillow==12.0.0
typing_extensions==4.15.0
tzdata==2025.2
python-dateutil==2.9.0.post0
gunicorn
whitenoise
